{% extends "weblog.html" %} 

{% load i18n %}

{% block content %} 
    {% for obj in objs %}
        <fieldset>
            <legend>{{ obj.headline }}</legend>
            <p>{% translate "Is Active" %} - {{ obj.is_active }}</p>
            <div>
                <a href="{% url 'user_panel:event_preview' obj.slug %}">
                    {% translate "Preview" %}
                </a>
            </div>
            {% if obj.is_active != True%}
                <div>
                    <a href="{% url 'user_panel:set_event_active' obj.slug %}">
                        {% translate "Active" %}
                    </a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'user_panel:set_event_deactive' obj.slug %}">
                        {% translate "Deactive" %}
                    </a>
                </div>
            {% endif %}
        </fieldset>
    {% endfor %}
{% endblock %}