{% extends "weblog.html" %}

{% load i18n %}

{% block content %}
    <div>
        <a href="{% url 'user_panel:entries' %}">
            {% translate "back to panel" %}
        </a>
    </div>
    <div>
        <a href="{% url 'user_panel:add_image' %}">
            {% translate 'Add Image' %}
        </a>
    </div>
    <hr />
    <ul>
    {% for img in imgs %}
        <li>
            <fieldset>
                <legend>{{ img.headline }}</legend>
                <div>
                    <a href="{% url 'user_panel:edite_image' img.slug %}">
                        {% translate "Edite" %}
                    </a>
                </div>
                <div>
                    <a href="{% url 'user_panel:img_preview' img.slug %}">
                        {% translate "Preview" %}
                    </a>
                </div>
                <div>
                    <a href="{% url 'user_panel:delete_img' img.slug %}">
                        {% translate "Delete" %}
                    </a>
                </div>
            </fieldset>
        </li>
    {% endfor %}
    </ul>
{% endblock %}