{% extends 'base_error.html' %}
{% load i18n %}

{% block title %}{% translate "Page not found" %}{% endblock %}

{% block header %}<h1>404</h1>{% endblock %}

{% block message %}
  <h2>{% translate "Page not found" %}</h2>

  <p>
    {% blocktranslate trimmed %}
      Looks like you followed a bad link. If you think it's our fault, please
      <a href="">let us know</a>.
    {% endblocktranslate %}
  </p>
  <p>
    {% blocktranslate trimmed %}
      Here's a link to the <a href="">homepage</a>. You know, just in case.
    {% endblocktranslate %}
  </p>

{% endblock %}