{% extends "weblog.html" %}

{% load i18n %}

{% block title %}{% translate "content list" %}{% endblock %}

{% block header %}
    <h1>{% translate "last content on our weblog" %}</h1>
    <div>
        <a href="{% url 'home:index' %}">
            {% translate "Home Page" %}
        </a>
    </div>
{% endblock %}
{% block content %}
    <div>
        <ul>
            {% for object in page_obj %}
                <div>
                    <li><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a><br /></li>
                </div>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}