{% extends "weblog.html" %}

{% load i18n %}

{% block title %}{{ object.headline }}{% endblock %}

{% block header %}
    <div>
        <a href="{% url 'home:index' %}">
            {% translate "Home Page" %}
        </a>
    </div>
    <h1>{{ object.headline }}</h1>
    <br />
{% endblock %}

{% block content %}
    <main>
        <h2>{{ object.pub_date }}</h2>
        <h3>{{ object.location }}</h3>
        <article>
            <p>{{ object.detail }}</p>
        </article>
    </main>
{% endblock %}